:root {
  --color-white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-stack: outfit, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--slate-300);
  font-family: var(--font-stack);
  font-weight: 400;
  padding: 2rem;
}

.qr-card {
  width: 30rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 2rem;
  transition: all 0.5s;
}

.qr-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.qr-code-img {
  width: 100%;
  border-radius: 1rem;
}

.info {
  padding: 2rem 1rem;
  text-align: center;
  overflow: hidden;
  backface-visibility: hidden;
}

.heading {
  font-size: 2rem;
  color: var(--slate-900);
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.5rem;
  color: var(--slate-500);
}
